.custom-card {
  position: relative;
  display: flex;
  max-width: 80%;
  background-color: transparent;
  transition: max-width 0.75s;
  &:hover {
    max-width: 82%;
  }
  min-height: 300px;
}

.card-img {
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
}

.card-title {
  color: $white;
  position: absolute;
  right: 0;
  top: -25px;
  padding: 0;
  margin: 0;
}
.card-text-box {
  background: rgba($body-bg, 0.75);
  width: 60%;
  height: 60%;
  max-width: 300px;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.5));
  border-top: solid 1.5px $primary;
}

.card-icon {
  color: $primary;
  font-size: x-large;
  &:hover {
    color: $secondary;
  }
}
