// Graphical variables
@import 'bootstrap/dist/css/bootstrap.css';
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";
@import "font-awesome/css/font-awesome.min.css";

// Your CSS partials
@import "components/button";
@import "components/navbar";
@import "components/first_section";
@import "components/social_side_bar";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.App {
  height: 100vh;
}

#root {
  height: 100vh;
}

body {
  background-color: $body-bg;
  margin: 0;
  font-family: 'Nova Square', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary {
  color: $primary;
  background-color: $primary;
  background-image: $primary;
  background: $primary;
}

h1 {
  color: $white;
}

h3 {
  color: $secondary;
}

h4 {
  color: $primary;
}

p {
  color: $secondary;
  }
